# Dataset & Raw Files
data/raw/
data/intermediate/
data/processed/
datasets/
frames/
videos/
tfrecords/
*.npy
*.mp4
*.avi

# Outputs & Artifacts
outputs/
results/
logs/
checkpoints/
weights/
*.pth
*.pt
*.ckpt
*.log

# Python & Environment
__pycache__/
*.pyc
*.pyo
*.pyd
.env
.venv
conda_envs/
*.zip

# IDE & OS
.vscode/
.idea/
.DS_Store
Thumbs.db